body {
    font-family: sans-serif;
}

h2 {
    margin-top: 0px;
}

.textbox {
    width: 40px;
    margin-right: 10px;
}

.intersectionTag{
    width: 5%;
    border: 4px solid;
    border-color: darkgreen;
    text-align: center;
    display:inline;
    margin: 4px
}

.stopTag{
    width: 5%;
    border: 4px solid;
    border-color: darkred;
    display:inline;
    margin: 4px
    
}

.consoleLayout {
    margin-top: -20px;
}

.tagBoxContent {
    font-family: monospace;
    font-size: 36px;
    margin-left: auto;
    margin-right: auto;
    display:inline;
}

.areaBox{
    font-size: 30px;
    width: 100%;
    height: 502px;
    border: 2px solid;
    border-color: black;
    background-color: #ffffff;
    padding: 0 0 0 0;
}

.tagStorageBox{
    font-size: 30px;
    width: 100%;
    height: 100px;
    border: 1px;
    border-color: #ccc;
    padding: 2px 2px 2px 2px;
    
}

canvas {
    border: 1px solid #ccc;
}

